#return-button {
    width: 150px;
    float: right;
}

.crypto-info {
    width: 100%;
    border: 1px solid #05fce8;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px 10px;
}

#crypto-info-wrapper-1 {
    width: 50%;
    float: left;
    border: 1px solid white;
    text-align: center;
    font-weight: bolder;
}

#crypto-info-wrapper-2 {
    overflow: hidden;
}

.page-container {
    position: relative;
    min-height: 100vh;
    background: #212529;
    /*background: rgb(0,0,0);*/
    /*background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 90%);*/
}

.content {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #00afc9;
    color: white;
    text-align: center;
}

.landing-nav {
    overflow: hidden;
}

.landing-nav-1 {
    float: left;
    border: 1px solid white;
    text-align: center;
    padding: 20px 20px;
    width: 60%;
}

.fiat-option, .days-option {
    width: 40%;
    overflow: hidden;
    padding: 20px 20px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

#fiat-label, #days-label {
    color: white;
    font-weight: bold;
}

#fiat, #days {
    width: 100px;
}

#market-symbol {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

p {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}


.btn {
    font-weight: bold;
}

.prediction-data {
    overflow: hidden;
    padding: 10px 40px;
}

.table-data {
    width: 45%;
    float: left;
    border: 1px solid white;
    padding: 10px 10px;
    margin-right: 50px;
}

.table-container {
    width: 60%;
    margin: auto;
}

.prediction {
    width: 45%;
    overflow: hidden;
    border: 1px solid white;
    padding: 10px 10px;
}

#btn-table-data {
    position: relative;
    left: 85%;
    bottom: 10%;
    padding: 10px 10px;
}

#btn-prediction {
    position: relative;
    left: 70%;
    bottom: 10%;
    padding: 10px 10px
}