.navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    height: 8vh;
  background-color: #212529;
}

#nav-btn {
  float: left;
}

#nav-btn #nav-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-btn #nav-a:hover {
  background-color: #111;
}

.active {
    background-color: #138496;
}

#return-button {
    width: 150px;
    float: right;
}

.crypto-info {
    width: 100%;
    border: 2px solid #05fce8;
    overflow: hidden;
    padding: 10px 10px;
}

#crypto-info-wrapper-1 {
    width: 50%;
    float: left;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
}

#crypto-info-wrapper-2 {
    overflow: hidden;
    padding: 20px 20px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
    background: #212529;
}

.content {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #00afc9;
    color: white;
    text-align: center;
}

.list-nav {
    overflow: hidden;
    border: 2px solid #05fce8;
}

.list-nav-1 {
    float: left;
    border: 1px solid white;
    text-align: center;
    padding: 20px 20px;
    width: 60%;
}

.fiat-option, .days-option {
    width: 40%;
    overflow: hidden;
    padding: 20px 20px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

#fiat-label, #days-label {
    color: white;
    font-weight: bold;
}

#fiat, #days {
    width: 100px;
}

#market-symbol {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

p {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

.btn {
    font-weight: bold;
}

.prediction-data {
    overflow: hidden;
    padding: 10px 40px;
}

.table-data {
    width: 45%;
    float: left;
    border: 1px solid white;
    padding: 10px 10px;
    margin-right: 50px;
}

.table-container {
    width: 60%;
    margin: auto;
}

.prediction {
    width: 45%;
    overflow: hidden;
    border: 1px solid white;
    padding: 10px 10px;
}

#btn-table-data {
    position: relative;
    left: 85%;
    bottom: 10%;
    padding: 10px 10px;
}

#btn-prediction {
    position: relative;
    left: 80%;
    bottom: 10%;
    padding: 10px 10px
}

.about {
    width: 60%;
    margin: auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px 20px;
}

.landing-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#github-logo {
    width: 50px;
    height: 50px;
    opacity: 0.7;
}

#homepage-logo {
    width: 60px;
    height: 30px;
    opacity: 0.7;
}

#price-arrow {
    width: 30px;
    height: 30px;
}

.predicted-section {
    width: 70%;
    margin: auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px 20px;
    align-items: center;
}
