{% extends 'dashboard/base.html' %}

{% block title %} Crypto Analyser {% endblock %}

{% block content %}
    <div class="landing-container">
        <div class="about">
            <h3 id="market-symbol">O aplikacji</h3>
            <p>Crypto analyser v.1 jest to aplikacja web umożliwiająca podgląd i analizę danych o kryptowalutach.
                <br>Aplikacja korzysta z publicznego API serwisu BitBay.

                <br>API dostępne pod adresem: https://docs.bitbay.net/reference

                <br><br>Na potrzeby analizy danych wykorzystane zostały wykresy świec (kursy otwarcia, zamknięcia,
                wolumen) oraz
                bieżące kursy walut dostępne pod adresem /stats/.

                <br><br>Aplikacja składa się z:
                <br>- strony głównej
                <br>- listy kryptowalut dostępnych w serwisie BitBay
                <br>- danych historycznych dla każdej waluty (wykres, dane tabelaryczne)
                <br>- analizy danych (predykcja wykorzystująca model LSTM - long short term memory)

                <br><br>Aplikacja napisana w Django v. 3.1.7.
                <br>Autor: Mjnrt
                <br><a href="https://github.com/mjnrt/cryptocurrencies_app">
                        <img alt="github logo" id="github-logo" src="/static/github-logo.png">
                    </a>
                    <a href="{% url 'list' %}"><button id="btn-prediction" class="btn btn-info">Rozpocznij</button></a>
            </p>
        </div>
    </div>

{% endblock %}