{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto analyser</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="fiat-option">
    <form action="/" method="post">
        {% csrf_token %}
        <label for="fiat">Waluta:</label>
        <select name="fiat" id="fiat">
            <option>PLN</option>
            <option>EUR</option>
            <option>GBP</option>
            <option>USD</option>
        </select>
        <input type="submit" value="Zmień">
    </form>
</div>
<table class="table table-dark">
    <thead>
    <th scope="col">Symbol</th>
    <th scope="col">Najniższy kurs</th>
    <th scope="col">Najwyższy kurs</th>
    <th scope="col"> Średni kurs</th>
    </thead>
    <tbody>
    {% for price in prices %}
        <tr>
            <td><a href="/{{ price.pk }}/">{{ price.market_symbol }}</a></td>
            <td>{{ price.lowest_price }}</td>
            <td>{{ price.highest_price }}</td>
            <td>
                {{ price.average_price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>