{% extends 'dashboard/base.html' %}

{% block title %}Crypto analyser{% endblock %}

{% block content %}
    <div class="list-nav">
        <div class="list-nav-1">
            <h3 class="market-symbol">Aktualne kursy kryptowalut</h3>
        </div>
        <div class="fiat-option">
            <form action="/list/" method="post">
                {% csrf_token %}
                <label for="fiat" id="fiat-label">Waluta:</label>
                <select name="fiat" id="fiat">
                    <option value="PLN" {% ifequal fiat "PLN" %}selected{% endifequal %}>PLN</option>
                    <option value="EUR" {% ifequal fiat "EUR" %}selected{% endifequal %}>EUR</option>
                    <option value="GBP" {% ifequal fiat "GBP" %}selected{% endifequal %}>GBP</option>
                    <option value="USD" {% ifequal fiat "USD" %}selected{% endifequal %}>USD</option>
                </select>
                <button type="submit" class="btn btn-info">Zmień</button>
            </form>
        </div>
    </div>
    <table class="table table-dark">
        <thead>
        <th class="table-col" scope="col">Symbol</th>
        <th class="table-col" scope="col">Najniższy kurs</th>
        <th class="table-col" scope="col">Najwyższy kurs</th>
        <th class="table-col" scope="col"> Średni kurs</th>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td><a href="/list/{{ price.pk }}/">{{ price.market_symbol }}</a></td>
                <td>{{ price.lowest_price }}</td>
                <td>{{ price.highest_price }}</td>
                <td>
                    {{ price.average_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}